@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* This tells Tailwind v4 to use your font for all 'font-sans' classes */
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../public/Fonts/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../public/Fonts/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../public/Fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--font-sans);
}

/* Dark Mode overrides for React Flow UI */
.dark .react-flow__controls button {
    background-color: #1e293b;
    /* slate-800 */
    fill: #f1f5f9;
    /* slate-100 */
    border-bottom: 1px solid #334155;
    /* slate-700 */
}

.dark .react-flow__controls button:hover {
    background-color: #334155;
}

.dark .react-flow__minimap {
    background-color: #101922;
    border: 1px solid #334155;
}

.dark .react-flow__minimap-mask {
    fill: rgba(0, 0, 0, 0.4);
}